

<form actions="/employees/edit/:id" >
    <input type="text"></input>
    <input type="text"></input>
    <input type="text"></input>
</form>


 <%# <label>
    Name: <input type="text" name="name" value="<%= @animal['name'] %>">
  </label><br> %>