

<form method="post" action="/employees" >

    <label>
        Name: <input type="text" name="first_name">
    </label><br>
    <label>
        Business Title: <input type="text" name="business_title">
    </label><br>
    <label>
        Salary: <input type="text" name="salary">
    </label><br>
    <br>
    <input type='submit' value="Add"></input>

</form>



